<div class="ui-body ui-body-a">
  <h1>Enter the Swarm</h1>

  <form action="/login" method="post">
    <p>
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" value="" placeholder=""/>
    </p>
    <p>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" value="" placeholder=""/>
    </p>
    <p><input type="submit" value="Login" /></p>
  </form>
  <br />
</div>