<li>
  <%= link_to(edit_contact_path(contact)) do %>
    <div class="ui-grid-b">
      <div class="ui-block-a"><%= contact.name %></div>
      <div class="ui-block-b"><%= contact.phone %></div>
    </div>
  <% end %>
</li>