<% content_for :right_header do %>
  <%= link_to 'Add Subscription', new_contact_subscription_path(@contact), 'data-theme' => 'a', 'data-icon' => 'plus', 'class' => 'ui-btn-right' %>
<% end %>

<div class="ui-body ui-body-a">
  <h1>Contact: <%= @contact.name %></h1>
  <div class="ui-body ui-body-b">
    <h4>Phone: <%= @contact.phone %></h4>
  </div>

  <h2>Campaigns:</h2>
  <ul data-role="listview" data-theme="d" data-inset="true">
	<% unless @subscriptions.blank? %>
      <%= render @subscriptions %>
    <% else %>
      <li data-role="list-divider">No campaign subscriptions</li>
    <% end %>
  </ul>
  <br />
</div>