<% content_for :right_header do %>
  <%= link_to 'Add New Contact', new_contact_path, 'data-theme' => 'a', 'data-icon' => 'plus', 'class' => 'ui-btn-right' %>
<% end %>

<div class="ui-body ui-body-a">
  <h2>Contacts</h2>
  <ul data-role="listview" data-theme="d" data-inset="true">
	<% unless @contacts.blank? %>
      <%= render @contacts %>
    <% else %>
      <li data-role="list-divider"><h4>No Contacts</h4></li>
    <% end %>
  </ul>
</div>