<!DOCTYPE html>
<html>
<head>
  <title>The Swarm : Killa Bee Notification System</title>
</head>
<body>

<div data-role="dialog">
  <div data-role="content">
	<%= yield %>
  </div>
</div>

</body>
</html>
