<div class="ui-body ui-body-a">
  <h1>Bellwether</h1>
  <div class="ui-body ui-body-b">
    <h2>Your account status:</h2>
    <h4>Users: 2 / 3</h4>
    <h4>Campaigns: 3 / 5</h4>
    <h4>Contacts: 10 / 100</h4>
    <h4>Messages: 5 / 30</h4>
  </div>
  <br />
</div>